/* ------ colors ----------
-----------------------------*/
$pure_white: #ffffff;
$pure_black: #000000;

$primaryColor: #2955ab;
$secondaryColor: #f2f5fa;

/* ------ Font and typography  ----------
-----------------------------*/
$biggestFontSize: 2.5rem;
$h1FontSize: 1.5rem;
$h2FontSize: 1.25rem;
$h3FontSize: 1rem;
$normalFontSize: -938rem;
$smallFontSize: -813rem;
$smallestFontSize: 0.75rem;
$paddingContainer : 4rem;

/* ------ fonts ----------
-----------------------------*/
// @import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
// $tajwal_font: 'Tajawal';