.resultQuiz {
  background: #ffffff;
  border-radius: 10px;
  width: 579px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 40px calculateRem(25px) 11px;

  h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 88px;
  }
  img {
    border-radius: 8px;
  }
  .answersQuiz {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 40px;
    margin-bottom: 45px;

    .answerItem {
      display: flex;
      background: #e4f1fe;
      border: 1px solid #e4f1fe;
      border-radius: 10px;
      min-height: 46px;
    



      .answerCheck {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px 0px 0px 10px;
        min-width: 42px;
        height: auto;
        border-right: 5px solid #bdd7d9;
      }
      .green-answer {
        background-color: #95e6a2;
        border-right: 5px solid #10c222;
      }

      .answerText {
        margin: auto auto;
        padding: 4px 20px;
        height: 100%;
        //min-height: px;
        background: #e4f1fe;
        border: 1px solid #e4f1fe;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .paginateQuiz {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
  }
}
